<div class="jumbotron text-center">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p>
</div>

<div class="container">

  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <div class="row">
      <div class="col-sm-2">
        <input type="text" class="form-control" formControlName="firstName" placeholder="Your first name">
      </div>
      <div class="col-sm-2">
        <input type="text" class="form-control" formControlName="lastName" placeholder="Your last name">
      </div>
      <div class="col-sm-2">
        <input type="text" class="form-control" formControlName="middleName" placeholder="Your middle name">
      </div>
      <div class="col-sm-2">
        <input type="email" class="form-control" formControlName="email" placeholder="Your email">
      </div>
      <div class="col-sm-2">
        <select class="form-control" formControlName="gender" placeholder="Select option">
          <option selected>Choose..</option>
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
      <div class="col-sm-2">
        <input type="tel" class="form-control" formControlName="phNum" placeholder="Your phone number">
      </div>
      <div class="col-sm-2">
        <input type="text" class="form-control" formControlName="nickName" placeholder="Your nick name">
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </div>
  </form>

  <div class="row" *ngIf="formData1.length">
    <div class="col-sm-6">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Middle Name</th>
            <th scope="col">Nick Name</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let data of formData1">
            <th scope="row">{{data.firstName}}</th>
            <td>{{data.lastName}}</td>
            <td>{{data.middleName}}</td>
            <td>{{data.nickName}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-3">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let data of formData2">
            <th scope="row">{{data.phNum}}</th>
            <td>{{data.email}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-3">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Gender</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let data of formData3">
            <th scope="row">{{data.gender}}</th>
            <td><i class="bi bi-pencil-square"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
</div>